@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./static/fonts/nunito/nunito.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Nunito Fallback';
    font-style: normal;
    font-weight: 400;
    src: local('Arial');
    ascent-override: 99.46%;
    descent-override: 34.73%;
    line-gap-override: 0.00%;
    size-adjust: 101.65%;
  }

/* @font-face {
    font-family: 'Qanelas';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./static/fonts/qanelas-soft/QanelasSoftRegular.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Qanelas Fallback';
    font-style: normal;
    font-weight: 400;
    src: local('Arial');
    ascent-override: 95.92%;
    descent-override: 24.23%;
    line-gap-override: 0.00%;
    size-adjust: 99.04%;
  }
   */

/* @font-face {
    font-family: "Qanelas Soft";
    src: url('./static/fonts/qanelas-soft/QanelasSoftSemiBold.otf') format('opentype');
    font-weight: 600;
    font-display: fallback;
}

@font-face {
    font-family: "Qanelas Soft";
    src: url('./static/fonts/qanelas-soft/QanelasSoftRegular.otf') format('opentype');
    font-weight: 400;
    font-display: fallback;
} */
